.ico:after{
    content: '';
    display: block;
    height: 2em;  /*height of icon */
    width: 2em;  /*width of icon */
    /*where to replace the icon */
    top: 0px;
    /*background */
    background: url(../img/layers.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}


.escala:after{
    content: '';
    display: inline-block;
    height: 1em;  /*height of icon */
    width: 1em;  /*width of icon */
    /*where to replace the icon */
    top: 0px;
    /*background */
    background: url(../img/regla.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}


.legend-ico:after{
    content: '';
    display: block;
    height: 2em;  /*height of icon */
    width: 2em;  /*width of icon */
    /*where to replace the icon */
    top: 0px;
    /*background */
    background: url(../img/legend.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}



.div-escala-menu{
    display: block;
    background-color: #0b58a2;
    overflow: hidden;
    text-overflow: clip;
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
#ahref-menu{
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
}


