
#map-description-content{
    width: 100%;
    height: 85.5vh;
}

#mapid{
    width: 100%;
    min-height: 85.5vh !important;
    height: 85.5vh;
    float: left;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
    z-index: 500;
}

#description-content{
    float: right;
    position: relative;
    height: 100%;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    -webkit-box-shadow: -6px 1px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 1px 13px -4px rgba(0,0,0,0.75);
    box-shadow: -6px 1px 13px -4px rgba(0,0,0,0.75);
    z-index: 501;
    webkit-transition: -webkit-transform 1.5s ease-in-out,width 1.5s ease-in-out;
    -moz-transition: -moz-transform 1.5s ease-in-out,width 1.5s ease-in-out;
    -o-transition: -o-transform 1.5s ease-in-out,width 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out,width 1.5s ease-in-out;
    background-color: #ffffff;

}

.prop-desc-cont{
    padding: 15px 15px 15px 15px;
}

.traslate{
    transform: translate(140%, 0);
    -webkit-transform: translate(140%, 0);
    -ms-transform: translate(140%, 0);
    -o-transform: translate(140%, 0);
}

