

.ul-sidebar{

    font-size: 12px;
}

.text-a-li{
    font-size: 12px;

}

.text-categoria{
    font-weight: bold;
    color: black;
}

.div-contenerdor-ul{
    max-height: 40%;
    overflow-y: auto;
}

.div-contenerdor-ul-down{
    max-height: 40%;
    border-top: #d2d6de 1px solid;
    margin-top: 10px;
}

.li-reference-none{
    display: none;
}